*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 3vmin;
  font-family: arial;
  margin: 0;
  padding: none;
}

.emscripten {
  padding-right: 0; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.emscripten { 
  text-align: center;
}

div.emscripten_border {
  border: 1px solid black; 
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { 
  border: 0px none;
  background-color: black; 
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.spinner {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;

  -webkit-animation: rotation .8s linear infinite;
  -moz-animation: rotation .8s linear infinite;
  -o-animation: rotation .8s linear infinite;
  animation: rotation 0.8s linear infinite;

  border-left: 5px solid rgb(235, 235, 235);
  border-right: 5px solid rgb(235, 235, 235);
  border-bottom: 5px solid rgb(235, 235, 235);
  border-top: 5px solid rgb(120, 120, 120);
  
  border-radius: 100%;
  background-color: rgb(189, 215, 46);
}

#menu {
  display: block;
  position: fixed;
  padding: 1em;
  background-color: gray;
  color: black;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 20%;
}
 
 
#status {
  display: block;
  font-weight: bold;
  color: black;
}
 
#menu p {
  margin-top: 2em;
}
 
#progress {
  height: 20px;
  width: 300px;
}
 
#controls {
  margin-top: 30px;
  margin-right: 20px;
}
 
#output {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  background-color: black;
  color: white;
  font-family: 'Lucida Console', Monaco, monospace;
  outline: none;
}

button.non-arrow .key::before { content: "x"; }
button.non-arrow .labels::before { content: "x"; }
button.non-arrow .labels::after { content: "x"; }

#calc {
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  padding-bottom: 8vw;

  .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    grid-column: 1 / 6;
  }

  .model-info {
    content: "No ROM Loaded";
  }

  .lcd {
    aspect-ratio: 60 / 40;
    background-color: lightcoral;
    grid-column: 1 / 6;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }

  button {
    font-size: 3vmin;
    width: 100%;
  }

  button:active {
    background-color: white;
  }

  button:active .key {
    background-color: red;
  }

  button.arrow-button, .button button.ten-key {
    color: white;
    background-color: grey;
  }

  button.non-arrow {
    display: block;
    background-color: black;
    border: 0;
  }
  
  .arrow-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .arrow-buttons button {
    height: 100%;
  }
  
  .arrow-buttons .arrow-down {
    grid-column: 2;
    grid-row: 3;
  }

  .arrow-buttons .arrow-left {
    grid-column: 1;
    grid-row: 2;
  }
  
  .arrow-buttons .arrow-right {
    grid-column: 3;
    grid-row: 2;
  }
  
  .arrow-buttons .arrow-up {
    grid-column: 2;
    grid-row: 1;
  }
  
  .key {
    background-color: gray;
    color: white;
    border-radius: .8vh;
    clear: both;
    height: 60%;
  }
  
  .labels {
    display: block;
    width: 100%;
  }
  
  .labels::before {
    color: #FC0;
    float: left;
    padding-left: 5px;
  }
  
  .labels::after {
    color: lightblue;
    text-align: right;
    float: right;
    padding-right: 5px;
  }
}

#calc.ti85 {
  $second-color: #FC0;
  $alpha-color: lightblue;
  
  .model-info::before{ content: "TI-85"; }

  .non-arrow .key {
    background-color: black;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
  }

  .number .key {
    background-color: gray;
  }

  button:active {
    background-color: white;
  }

  button:active .key {
    background-color: red;
  }

  #k64 .key::before { content: "F1"; }
  #k64 .labels::before { content: "M1"; }
  #k64 .labels::after { content: ""; }
  #k63 .key::before { content: "F2"; }
  #k63 .labels::before { content: "M2"; }
  #k63 .labels::after { content: ""; }
  #k62 .key::before { content: "F3"; }
  #k62 .labels::before { content: "M3"; }
  #k62 .labels::after { content: ""; }
  #k61 .key::before { content: "F4"; }
  #k61 .labels::before { content: "M4"; }
  #k61 .labels::after { content: ""; }
  #k60 .key::before { content: "F5"; }
  #k60 .labels::before { content: "M5"; }
  #k60 .labels::after { content: ""; }

  #k65 .key::before { content: "2nd"; }
  #k65 .labels::before { content: "2nd"; }
  #k65 .labels::after { content: ""; }
  #k66 .key::before { content: "EXIT"; }
  #k66 .labels::before { content: "QUIT"; }
  #k66 .labels::after { content: ""; }
  #k67 .key::before { content: "MORE"; }
  #k67 .labels::before { content: "MODE"; }
  #k67 .labels::after { content: ""; }

  #k57 .key::before { content: "ALPHA"; }
  #k57 .labels::before { content: "alpha"; }
  #k57 .labels::after { content: ""; }
  #k47 .key::before { content: "x-VAR"; }
  #k47 .labels::before { content: "LINK"; }
  #k47 .labels::after { content: "x"; }
  #k37 .key::before { content: "DEL"; }
  #k37 .labels::before { content: "INS"; }
  #k37 .labels::after { content: ""; }

  #k56 .key::before { content: "GRAPH"; }
  #k56 .labels::before { content: "SOLVER"; }
  #k56 .labels::after { content: ""; }
  #k46 .key::before { content: "STAT"; }
  #k46 .labels::before { content: "SIMULT"; }
  #k46 .labels::after { content: ""; }
  #k36 .key::before { content: "PRGM"; }
  #k36 .labels::before { content: "POLY"; }
  #k36 .labels::after { content: ""; }
  #k26 .key::before { content: "CUSTOM"; }
  #k26 .labels::before { content: "CATALOG"; }
  #k26 .labels::after { content: ""; }
  #k16 .key::before { content: "CLEAR"; }
  #k16 .labels::before { content: "TOLER"; }
  #k16 .labels::after { content: ""; }

  #k55 .key::before { content: "LOG"; }
  #k55 .labels::before { content: "10ˣ"; }
  #k55 .labels::after { content: "A"; }
  #k45 .key::before { content: "SIN"; }
  #k45 .labels::before { content: "SIN⁻¹"; }
  #k45 .labels::after { content: "B"; }
  #k35 .key::before { content: "COS"; }
  #k35 .labels::before { content: "COS⁻¹"; }
  #k35 .labels::after { content: "C"; }
  #k25 .key::before { content: "TAN"; }
  #k25 .labels::before { content: "TAN⁻¹"; }
  #k25 .labels::after { content: "D"; }
  #k15 .key::before { content: "^"; }
  #k15 .labels::before { content: "π"; }
  #k15 .labels::after { content: "E"; }

  #k54 .key::before { content: "LN"; }
  #k54 .labels::before { content: "eˣ"; }
  #k54 .labels::after { content: "F"; }
  #k44 .key::before { content: "EE"; }
  #k44 .labels::before { content: "x⁻¹"; }
  #k44 .labels::after { content: "G"; }
  #k34 .key::before { content: "("; }
  #k34 .labels::before { content: "["; }
  #k34 .labels::after { content: "H"; }
  #k24 .key::before { content: ")"; }
  #k24 .labels::before { content: "]"; }
  #k24 .labels::after { content: "I"; }
  #k14 .key::before { content: "÷"; }
  #k14 .labels::before { content: "CALC"; }
  #k14 .labels::after { content: "J"; }

  #k53 .key::before { content: "x²"; }
  #k53 .labels::before { content: "√"; }
  #k53 .labels::after { content: "K"; }
  #k43 .key::before { content: "7"; }
  #k43 .labels::before { content: "MATRX"; }
  #k43 .labels::after { content: "L"; }
  #k33 .key::before { content: "8"; }
  #k33 .labels::before { content: "VECTR"; }
  #k33 .labels::after { content: "M"; }
  #k23 .key::before { content: "9"; }
  #k23 .labels::before { content: "CPLX"; }
  #k23 .labels::after { content: "N"; }
  #k13 .key::before { content: "x"; }
  #k13 .labels::before { content: "MATH"; }
  #k13 .labels::after { content: "O"; }

  #k52 .key::before { content: ","; }
  #k52 .labels::before { content: "∠"; }
  #k52 .labels::after { content: "P"; }
  #k42 .key::before { content: "4"; }
  #k42 .labels::before { content: "CONS"; }
  #k42 .labels::after { content: "Q"; }
  #k32 .key::before { content: "5"; }
  #k32 .labels::before { content: "CONV"; }
  #k32 .labels::after { content: "R"; }
  #k22 .key::before { content: "6"; }
  #k22 .labels::before { content: "STRNG"; }
  #k22 .labels::after { content: "S"; }
  #k12 .key::before { content: "-"; }
  #k12 .labels::before { content: "LIST"; }
  #k12 .labels::after { content: "T"; }

  #k51 .key::before { content: "STO▶"; }
  #k51 .labels::before { content: "RCL"; }
  #k51 .labels::after { content: "="; }
  #k41 .key::before { content: "1"; }
  #k41 .labels::before { content: "BASE"; }
  #k41 .labels::after { content: "U"; }
  #k31 .key::before { content: "2"; }
  #k31 .labels::before { content: "TEST"; }
  #k31 .labels::after { content: "V"; }
  #k21 .key::before { content: "3"; }
  #k21 .labels::before { content: "VARS"; }
  #k21 .labels::after { content: "W"; }
  #k11 .key::before { content: "+"; }
  #k11 .labels::before { content: "MEM"; }
  #k11 .labels::after { content: "X"; }

  #k50 .key::before { content: "ON"; }
  #k50 .labels::before { content: "OFF"; }
  #k50 .labels::after { content: ""; }
  #k40 .key::before { content: "0"; }
  #k40 .labels::before { content: "CHAR"; }
  #k40 .labels::after { content: "Y"; }
  #k30 .key::before { content: "."; }
  #k30 .labels::before { content: ":"; }
  #k30 .labels::after { content: "Z"; }
  #k20 .key::before { content: "(-)"; }
  #k20 .labels::before { content: "ANS"; }
  #k20 .labels::after { content: "˽"; }
  #k10 .key::before { content: "ENTER"; }
  #k10 .labels::before { content: "ENTRY"; }
  #k10 .labels::after { content: ""; }
    
}